
/*common*/
*{border-radius:0!important;}
img{max-width:100%;}
body{padding-top:120px;transition:all .3s;}
nav.navbar{height:120px;transition:all .3s;}
nav .navbar-brand img{height:80px;transition:all .3s;}
.sticky nav .navbar-brand img{height:56px;}
.sticky nav.navbar{height:60px;}
.sticky body{padding-top:60px;}
.font-weight-semibold {
  font-weight: 600!important;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus,
.btn-info.focus, .btn-info:focus,
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus,
.btn-success.focus, .btn-success:focus,
.form-control:focus{box-shadow:none;}
.line-height-1{line-height:1;}
.display-5 {font-size: 2.5rem;font-weight: 300;line-height: 1;}
.display-6 {font-size: 1.8rem;font-weight: 300;line-height: 1;}
header{background-size:cover;background-position:center center;}
/*header*/
header{}
.navbar-nav .nav-link{color:#333;}
.navbar-nav .nav-link.active{color:#007bff;}
nav.navbar .login-form {right:0;width:400px;visibility:hidden;opacity:0;transition:all .3s;top:120%;}
nav.navbar .show.login-form {visibility:visible;opacity:1;top:100%;}
nav.navbar .login-form input[type=text]{width:inherit;}
.form-msg{display:none;}
.form-msg.show{display:block;}
/*banner*/
/*content*/
/*footer*/
.move_top{position:fixed;right:20px;bottom:0;transition:all .3s;z-index:9;border:1px solid #00000033;visibility:hidden;opacity:0;background-color:#f8f9fa;border-radius:10px!important;font-size:1.33333em;}
.move_top:hover{background-color:#d8d9da;border-radius:0!important;font-size:1.5em;}
.sticky .move_top{bottom:30px;visibility:visible;opacity:1;}





.overlay3 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left:0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity:0;
  transition: opacity 1s;
}

body {
  transition: background-color .5s;
}
.offcanvas {
  height: 100%;
  width: 300px;
  top: 0;
  right: 100%;
  background-color: #111;
  position: fixed;
  z-index: 999999;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
}
.offcanvas a,.offcanvas2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none !important;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: .3s
}
.offcanvas a:hover, .offcanvas a:focus,.offcanvas2 a:hover{
  color: #f1f1f1;
}
.closeOffcanvas {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}
#mainContent {
  transition: margin-left .5s;
}
@media screen and (max-height: 500px) {
  .offcanvas {padding-top:15px;}
  .offcanvas a {font-size: 18px;}
}

.sidenav5 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav5 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s

}

.sidenav5 a:hover{
  color: #f1f1f1;
}

.sidenav5 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav5 {padding-top: 15px;}
  .sidenav5 a {font-size: 18px;}
}
