body {
    font-family: OpenSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%
}

.bw-2 {
    border-width: 2px;
}

.bw-3 {
    border-width: 3px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}

.btn-group-lg > .btn, .btn-xlg {
    padding: .6rem 1.2rem;
    font-size: 1.5rem;
    line-height: 1.7;
    border-radius: .3rem;
}

a:hover {
    color: #f13d08;
    text-decoration: none;
}


.text-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32d2ff+0,e389ff+100 */
    background: #32d2ff; /* Old browsers */
    background: -moz-linear-gradient(left, #32d2ff 0%, #e389ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #32d2ff 0%, #e389ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #32d2ff 0%, #e389ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32d2ff', endColorstr='#e389ff', GradientType=1); /* IE6-9 */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-glow {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}

.text-shadow {
    text-shadow: 0 0 .5px #000, 0 0 .5px #000;
}

/*animation*/
.fadeInFromNone {
    -webkit-animation: fadeInFromNone 0.5s infinite;
    -moz-animation: fadeInFromNone 0.5s infinite;
    -o-animation: fadeInFromNone 0.5s infinite;
    animation: fadeInFromNone 0.5s infinite;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*animation*/