@font-face {
    font-family: 'SolaimanLipi';
    src: url('../fonts/SolaimanLipi.eot');
    src: url('../fonts/SolaimanLipi.woff') format('woff'),
    url('../fonts/SolaimanLipi.ttf') format('truetype'),
    url('../fonts/SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
    url('../fonts/SolaimanLipi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: SolaimanLipi, sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%
}

.bw-2 {
    border-width: 2px;
}

.bw-3 {
    border-width: 3px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.btn-group-lg > .btn, .btn-xlg {
    padding: .6rem 1.2rem;
    font-size: 1.5rem;
    line-height: 1.7;
    border-radius: .3rem;
}

a:hover {
    color: #f13d08;
    text-decoration: none;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20rem;
}

.toggle.ios .toggle-handle {
    border-radius: 20rem;
}

.footer-before-logo img {
    height: 50px;
}

.bg-gradient-blue {
    background: linear-gradient(90deg, rgba(76, 92, 186, 1) 0%, rgba(45, 158, 219, 1) 35%, rgba(101, 39, 159, 1) 100%);
}

.banner .jcarousel-control-next {
    right: 10px;
}

.banner .jcarousel-control-prev {
    left: 10px;
}

.banner .jcarousel-wrapper {
    border-radius: 0;
    border: none;
}

.jcarousel {
    margin-bottom: -6px
}

.banner .jcarousel {
    margin-bottom: 0
}

.banner li {
    background: url("../img/banner-bg.jpg");
    background-size: cover;
    text-align: center;
}

.banner li img {
    max-height: 407px;
    opacity: .8;
}

.news-ticker a {
    display: block;
}

.news-ticker ul li {
    position: relative;
}

.news-ticker ul li:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.featured-title span {
    margin-top: -14px;
}

.jctkr-wrapper ul li {
    font-family: SolaimanLipi, sans-serif;
}

.text-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32d2ff+0,e389ff+100 */
    background: #32d2ff; /* Old browsers */
    background: -moz-linear-gradient(left, #32d2ff 0%, #e389ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #32d2ff 0%, #e389ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #32d2ff 0%, #e389ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32d2ff', endColorstr='#e389ff', GradientType=1); /* IE6-9 */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-glow {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}

.text-shadow {
    text-shadow: 0 0 .5px #000, 0 0 .5px #000;
}


.fadeInFromNone {
    -webkit-animation: fadeInFromNone 0.5s infinite;
    -moz-animation: fadeInFromNone 0.5s infinite;
    -o-animation: fadeInFromNone 0.5s infinite;
    animation: fadeInFromNone 0.5s infinite;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}